In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('arhiv_kefov_pinnacle_2019.xlsx')

In [3]:
df.head()

,DATA,Unnamed: 1,TEAMS,Unnamed: 3,Unnamed: 4,OPENING ODDS,Unnamed: 6,Unnamed: 7,CLOSING ODDS,Unnamed: 9,...,SCORE,Unnamed: 12,RESULTS,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,DATE,LEAGUE,HOME,Res,AWAY,1.00,X,2.00,1.00,X,...,H,A,WIN,"0,5 Gls",1.5Gls,2.5Gls,"3,5 Gls","4,5 Gls",BTTS,TG
1,2019-01-01 00:00:00,JW Cup,NTV Beleza (w)(N),2-2,INAC (w),1.86,3.27,4.21,1.92,3.1,...,2,2,0,OVER,OVER,OVER,OVER,UNDER,YES,4-6
2,2019-01-01 00:00:00,AUS WAL,WS Wanderers (w),1-2,Melbourne City (w),5.97,4.91,1.37,6.02,4.87,...,1,2,2,OVER,OVER,OVER,UNDER,UNDER,YES,2-3
3,2019-01-01 00:00:00,HKEC,Sun Pegasus,0-2,LeeMan,1.41,4.93,5.86,1.40,5.07,...,0,2,2,OVER,OVER,UNDER,UNDER,UNDER,NO,2-3
4,2019-01-01 00:00:00,AUS D1,Western Sydney,0-2,Melbourne City,2.91,3.25,2.67,2.66,3.54,...,0,2,2,OVER,OVER,UNDER,UNDER,UNDER,NO,2-3

In [4]:
#df.rename(columns={'Unnamed: 1': 'League'})

In [5]:
df.columns

Index(['DATA', 'Unnamed: 1', 'TEAMS', 'Unnamed: 3', 'Unnamed: 4',
       'OPENING ODDS', 'Unnamed: 6', 'Unnamed: 7', 'CLOSING ODDS',
       'Unnamed: 9', 'Unnamed: 10', 'SCORE', 'Unnamed: 12', 'RESULTS',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [6]:
df = df.rename(columns={'Unnamed: 1': 'LEAGUE', 'Unnamed: 3':'SCORE', 'TEAMS':'HOME','Unnamed: 4':'AWAY', 'OPENING ODDS':'1', 'Unnamed: 6':'X', 'Unnamed: 7':'2', 'Unnamed: 9':'CLOSING_DRAW','SCORE':'SCORE_HOME', 'Unnamed: 12':'SCORE_AWAY', 'Unnamed: 14':'0,5gls', 'Unnamed: 15':'1,5gls', 'Unnamed: 16':'2,5gls', 'Unnamed: 17':'3,5gls', 'Unnamed: 18':'4,5gls', 'Unnamed: 19':'BTTS'})

In [7]:
df.columns

Index(['DATA', 'LEAGUE', 'HOME', 'SCORE', 'AWAY', '1', 'X', '2',
       'CLOSING ODDS', 'CLOSING_DRAW', 'Unnamed: 10', 'SCORE_HOME',
       'SCORE_AWAY', 'RESULTS', '0,5gls', '1,5gls', '2,5gls', '3,5gls',
       '4,5gls', 'BTTS', 'Unnamed: 20'],
      dtype='object')

In [8]:
df['0,5gls'].value_counts()

OVER       78332
UNDER       6005
0,5 Gls        1
Name: 0,5gls, dtype: int64

In [9]:
#filter = if (df['0,5gls'] == 'OVER') df['0,5gls'] == '1'

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84338 entries, 0 to 84337
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DATA          84338 non-null  object
 1   LEAGUE        84338 non-null  object
 2   HOME          84338 non-null  object
 3   SCORE         84338 non-null  object
 4   AWAY          84338 non-null  object
 5   1             84338 non-null  float64
 6   X             84338 non-null  object
 7   2             84338 non-null  float64
 8   CLOSING ODDS  84338 non-null  float64
 9   CLOSING_DRAW  84338 non-null  object
 10  Unnamed: 10   84338 non-null  float64
 11  SCORE_HOME    84338 non-null  object
 12  SCORE_AWAY    84338 non-null  object
 13  RESULTS       84338 non-null  object
 14  0,5gls        84338 non-null  object
 15  1,5gls        84338 non-null  object
 16  2,5gls        84338 non-null  object
 17  3,5gls        84338 non-null  object
 18  4,5gls        84338 non-null  object
 19  BTTS          84338 non-null  object
 20  Unnamed: 20   84338 non-null  object
dtypes: float64(4), object(17)
memory usage: 13.5+ MB

In [11]:
df['0,5gls'].loc[df['0,5gls'] =='OVER'] = 1
df['0,5gls'].loc[df['0,5gls'] =='UNDER'] = 0
df['1,5gls'].loc[df['1,5gls'] =='OVER'] = 1
df['1,5gls'].loc[df['1,5gls'] =='UNDER'] = 0
df['2,5gls'].loc[df['2,5gls'] =='OVER'] = 1
df['2,5gls'].loc[df['2,5gls'] =='UNDER'] = 0
df['3,5gls'].loc[df['3,5gls'] =='OVER'] = 1
df['3,5gls'].loc[df['3,5gls'] =='UNDER'] = 0
df['4,5gls'].loc[df['4,5gls'] =='OVER'] = 1
df['4,5gls'].loc[df['4,5gls'] =='UNDER'] = 0

C:\Anaconda\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [12]:
df['0,5gls'].value_counts()

1          78332
0           6005
0,5 Gls        1
Name: 0,5gls, dtype: int64

In [13]:
df = df.drop(0)

In [14]:
df = df.drop(['Unnamed: 20'], axis = 'columns')

In [15]:
df['TOTAL_GOALS'] = df['SCORE_HOME'] + df['SCORE_AWAY']

In [16]:
df = df.loc[df.LEAGUE.isin(['EURO Cup '])]

In [17]:
df.to_csv('EURO_CUP_matches.csv', index=False)

In [18]:
df2 = pd.read_csv('EURO_CUP_matches.csv')

In [19]:
df2.head()

,DATA,LEAGUE,HOME,SCORE,AWAY,1,X,2,CLOSING ODDS,CLOSING_DRAW,...,SCORE_HOME,SCORE_AWAY,RESULTS,"0,5gls","1,5gls","2,5gls","3,5gls","4,5gls",BTTS,TOTAL_GOALS
0,2019-03-21 00:00:00,EURO Cup,Kazakhstan,3-0,Scotland,4.72,3.55,1.85,4.09,3.18,...,3,0,1,1,1,1,0,0,NO,3
1,2019-03-21 00:00:00,EURO Cup,Cyprus,5-0,San Marino,1.02,20.47,41.94,1.07,11.81,...,5,0,1,1,1,1,1,1,NO,5
2,2019-03-21 00:00:00,EURO Cup,Austria,0-1,Poland,2.57,3.43,2.86,2.49,3.21,...,0,1,2,1,0,0,0,0,NO,1
3,2019-03-21 00:00:00,EURO Cup,Israel,1-1,Slovenia,2.62,3.34,2.86,2.18,3.34,...,1,1,0,1,1,0,0,0,YES,2
4,2019-03-21 00:00:00,EURO Cup,Northern Ireland,2-0,Estonia,1.47,4.18,8.39,1.40,4.35,...,2,0,1,1,1,0,0,0,NO,2