In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('arhiv_kefov_pinnacle_2019.xlsx')

In [3]:
df.head()

,DATA,Unnamed: 1,TEAMS,Unnamed: 3,Unnamed: 4,OPENING ODDS,Unnamed: 6,Unnamed: 7,CLOSING ODDS,Unnamed: 9,...,SCORE,Unnamed: 12,RESULTS,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,DATE,LEAGUE,HOME,Res,AWAY,1.00,X,2.00,1.00,X,...,H,A,WIN,"0,5 Gls",1.5Gls,2.5Gls,"3,5 Gls","4,5 Gls",BTTS,TG
1,2019-01-01 00:00:00,JW Cup,NTV Beleza (w)(N),2-2,INAC (w),1.86,3.27,4.21,1.92,3.1,...,2,2,0,OVER,OVER,OVER,OVER,UNDER,YES,4-6
2,2019-01-01 00:00:00,AUS WAL,WS Wanderers (w),1-2,Melbourne City (w),5.97,4.91,1.37,6.02,4.87,...,1,2,2,OVER,OVER,OVER,UNDER,UNDER,YES,2-3
3,2019-01-01 00:00:00,HKEC,Sun Pegasus,0-2,LeeMan,1.41,4.93,5.86,1.40,5.07,...,0,2,2,OVER,OVER,UNDER,UNDER,UNDER,NO,2-3
4,2019-01-01 00:00:00,AUS D1,Western Sydney,0-2,Melbourne City,2.91,3.25,2.67,2.66,3.54,...,0,2,2,OVER,OVER,UNDER,UNDER,UNDER,NO,2-3

In [14]:
#df.rename(columns={'Unnamed: 1': 'League'})

In [5]:
df.columns

Index(['DATA', 'Unnamed: 1', 'TEAMS', 'Unnamed: 3', 'Unnamed: 4',
       'OPENING ODDS', 'Unnamed: 6', 'Unnamed: 7', 'CLOSING ODDS',
       'Unnamed: 9', 'Unnamed: 10', 'SCORE', 'Unnamed: 12', 'RESULTS',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [17]:
df = df.rename(columns={'Unnamed: 1': 'LEAGUE', 'Unnamed: 3':'SCORE', 'TEAMS':'HOME','Unnamed: 4':'AWAY', 'OPENING ODDS':'1', 'Unnamed: 6':'X', 'Unnamed: 7':'2', 'Unnamed: 9':'CLOSING_DRAW','SCORE':'SCORE_HOME', 'Unnamed: 12':'SCORE_AWAY', 'Unnamed: 14':'0,5gls', 'Unnamed: 15':'1,5gls', 'Unnamed: 16':'2,5gls', 'Unnamed: 17':'3,5gls', 'Unnamed: 18':'4,5gls', 'Unnamed: 19':'BTTS'})

In [18]:
df.columns

Index(['DATA', 'LEAGUE', 'HOME', 'SCORE', 'AWAY', '1', 'X', '2',
       'CLOSING ODDS', 'CLOSING_DRAW', 'Unnamed: 10', 'SCORE_HOME',
       'SCORE_AWAY', 'RESULTS', '0,5gls', '1,5gls', '2,5gls', '3,5gls',
       '4,5gls', 'BTTS', 'Unnamed: 20'],
      dtype='object')

In [22]:
df['0,5gls'].value_counts()

OVER       78332
UNDER       6005
0,5 Gls        1
Name: 0,5gls, dtype: int64

In [23]:
#filter = if (df['0,5gls'] == 'OVER') df['0,5gls'] == '1'

SyntaxError: invalid syntax (<ipython-input-23-452e195c1464>, line 1)